<!-- Booking History Page -->

{% extends "base.html" %}

{% block content %}
<main class="my-events-page">

  <!-- Hero Banner -->
  <div class="container position-relative text-center">
    <div class="container mb-5 abstract-banner">
      <img src="static/img/abstractbanner.png" alt="Decorative Image">
    </div>
    <h1 class="abstract-title">My Events</h1>
  </div>
  <div class="container">

    <!-- Show user's booked classes -->
    <h2 class="mb-4 pt-3">My Booked Classes</h2>

    <!-- Upcoming booking section -->
    <h4>Upcoming</h4>
    <div class="row g-4 mb-5">
      {% for booking in upcoming_booked %}
      <div class="col-md-3">
        <a href="{{ url_for('events.event_detail', event_id=booking.event_id) }}"
          class="text-dark text-decoration-none">
          <div class="card h-100">
            <img src="{{ url_for('static', filename=booking.image) }}" class="event-photo-card card-img-top"
              alt="{{ booking.title }}">
            <div class="card-body">
              <h5 class="card-title">{{ booking.title }}</h5>
              {% if booking.update_event_status %}
              <span class="badge bg-{{ booking.update_event_status | badge_class }} card-badge">
                {{ booking.update_event_status }}
              </span>
              {% endif %}
              <span class="badge bg-info text-dark card-badge">{{ booking.cuisine }}</span>
              <div class="card-text mt-3">
                <p class="card-text">
                  <img src="{{ url_for('static', filename='img/ticketicon.png') }}" alt="Ticket Icon" class="card-icon">
                  <strong>Booking ID:</strong> #{{ booking.booking_code }}
                </p>
                <p class="card-text">
                  <img src="{{ url_for('static', filename='img/calendaricon.png') }}" alt="Calendar Icon"
                    class="card-icon">
                  <strong>Booking Date: </strong>{{ booking.booking_date }}
                </p>
                <p class="card-text">
                  <img src="{{ url_for('static', filename='img/clockicon.png') }}" alt="Clock Icon" class="card-icon">
                  <strong>Booking Time: </strong>{{ booking.booking_time }}
                </p>
              </div>
            </div>
          </div>
        </a>
      </div>
      {% else %}
      <p>No upcoming bookings.</p>
      {% endfor %}
    </div>

    <!-- Inactive/cancelled booking section -->
    <h4>Inactive</h4>
    <div class="row g-4 mb-5">
      {% for booking in inactive_booked %}
      <div class="col-md-3">
        <a href="{{ url_for('events.event_detail', event_id=booking.event_id) }}"
          class="text-dark text-decoration-none">
          <div class="card h-100">
            <img src="{{ url_for('static', filename=booking.image) }}" class="event-photo-card card-img-top"
              alt="{{ booking.title }}">
            <div class="card-body">
              <h5 class="card-title">{{ booking.title }}</h5>
              {% if booking.update_event_status %}
              <span class="badge bg-{{ booking.update_event_status | badge_class }} card-badge">
                {{ booking.update_event_status }}
              </span>
              {% endif %}
              <span class="badge bg-info text-dark card-badge">{{ booking.cuisine }}</span>
              <div class="card-text mt-3">
                <p class="card-text">
                <p class="card-text">
                  <img src="{{ url_for('static', filename='img/ticketicon.png') }}" alt="Ticket Icon" class="card-icon">
                  <strong>Booking ID: </strong> #{{ booking.booking_code }}
                </p>
                <p class="card-text">
                  <img src="{{ url_for('static', filename='img/calendaricon.png') }}" alt="Calendar Icon"
                    class="card-icon">
                  <strong>Booking Date: </strong>{{ booking.booking_date }}
                </p>
                <p class="card-text">
                  <img src="{{ url_for('static', filename='img/clockicon.png') }}" alt="Clock Icon" class="card-icon">
                  <strong> Booking Time </strong>{{ booking.booking_time }}
                </p>
              </div>
            </div>
          </div>
        </a>
      </div>
      {% else %}
      <p>No inactive bookings.</p>
      {% endfor %}
    </div>

    <hr>
    <!-- Show user's Created Classes -->
    <h2 class="mb-4 pt-5">My Created Classes</h2>

    <!-- Upcoming created events section -->
    <h4>Upcoming</h4>
    <div class="row g-4 mb-5">
      {% for created in upcoming_created %}
      <div class="col-md-3">
        <a href="{{ url_for('events.event_detail', event_id=created.event_id) }}"
          class="text-dark text-decoration-none">
          <div class="card h-100">
            <img src="{{ url_for('static', filename=created.image) }}" class="event-photo-card card-img-top"
              alt="{{ created.title }}">
            <div class="card-body">
              <h5 class="card-title">{{ created.title }}</h5>
              {% if created.update_event_status %}
              <span class="badge bg-{{ created.update_event_status | badge_class }} card-badge">
                {{ created.update_event_status }}
              </span>
              {% endif %}
              <span class="badge bg-info text-dark card-badge">{{ created.cuisine }}</span>
              <div class="card-text mt-3">
                <p class="card-text">
                  <img src="{{ url_for('static', filename='img/calendaricon.png') }}" alt="Calendar Icon"
                    class="card-icon">
                  {{ created.date }}
                </p>
                <p class="card-text">
                  <img src="{{ url_for('static', filename='img/clockicon.png') }}" alt="Clock Icon" class="card-icon">
                  {{ created.start_time }} - {{ created.end_time }}
                </p>
                <p class="card-text">
                  <img src="{{ url_for('static', filename='img/ticketicon.png') }}" alt="Ticket Icon" class="card-icon">
                  <strong> Tickets Remaining: </strong> {{ created.tickets_remaining }}
                </p>
              </div>
            </div>
          </div>
        </a>
      </div>
      {% else %}
      <p>No upcoming created events.</p>
      {% endfor %}
    </div>

    <!-- Inactive/cancelled created events section -->
    <h4>Inactive</h4>
    <div class="row g-4 mb-5">
      {% for created in inactive_created %}
      <div class="col-md-3">
        <a href="{{ url_for('events.event_detail', event_id=created.event_id) }}"
          class="text-dark text-decoration-none">
          <div class="card h-100">
            <img src="{{ url_for('static', filename=created.image) }}" class="event-photo-card card-img-top"
              alt="{{ created.title }}">
            <div class="card-body">
              <h5 class="card-title">{{ created.title }}</h5>
              {% if created.update_event_status %}
              <span class="badge bg-{{ created.update_event_status | badge_class }} card-badge">
                {{ created.update_event_status }}
              </span>
              {% endif %}
              <span class="badge bg-info text-dark card-badge">{{ created.cuisine }}</span>
              <div class="card-text mt-3">
                <p class="card-text">
                  <img src="{{ url_for('static', filename='img/calendaricon.png') }}" alt="Calendar Icon"
                    class="card-icon">
                  {{ created.date }}
                </p>
                <p class="card-text">
                  <img src="{{ url_for('static', filename='img/clockicon.png') }}" alt="Clock Icon" class="card-icon">
                  {{ created.start_time }} - {{ created.end_time }}
                </p>
                <p class="card-text">
                  <img src="{{ url_for('static', filename='img/ticketicon.png') }}" alt="Ticket Icon" class="card-icon">
                  <strong>Tickets Remaining:</strong> {{ created.tickets_remaining }}
                </p>
              </div>
            </div>
          </div>
        </a>
      </div>
      {% else %}
      <p>No inactive created events.</p>
      {% endfor %}
    </div>
  </div>
</main>

{% endblock %}