  {% extends "base.html" %}

  {% block content %}
  <main class="container index-page">

    <!-- Hero Section -->
    <div id="heroCarousel" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="hero-banner hero-banner-1">
            <div class="slogan-container">
              <h1 class="display-4">Learn to cook, <br> one class at a time</h1>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="hero-banner hero-banner-2">
            <div class="slogan-container">
              <h1 class="display-4">Discover new flavours <br> with ChefUp</h1>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="hero-banner hero-banner-3">
            <div class="slogan-container">
              <h1 class="display-4">Master your skills <br> from top chefs</h1>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Cuisine Filter -->
    <div class="container my-4">
      <div class="row align-items-center">
        <div class="col-auto">
          <h4 class="mb-0">Browse By Cuisine:</h4>
        </div>
        <div class="col-auto">
          <div class="dropdown">
            <button class="btn btn-warning dropdown-toggle dropdown-button" type="button" data-bs-toggle="dropdown">
              Choose Cuisine
            </button>
            <ul class="dropdown-menu">
              {% for cuisine in ['Italian', 'Japanese', 'Mexican', 'Korean', 'Vietnamese', 'Thai', 'Indian', 'Chinese', 'Other'] %}
                <li><a class="dropdown-item">{{ cuisine }}</a></li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    </div>

    <!-- Event cards -->
    <div class="container mt-4 pb-5">
      <div class="row g-4 mb-4">
        {% for event in events %}
          <div class="col-12 col-sm-6 col-md-4 col-lg-3">
            <a href="{{ url_for('main.event_detail', event_id=event.id) }}" class="text-decoration-none text-dark">
              <div class="card h-100">
                <img src="{{ url_for('static', filename=event.image_filename) }}" 
                class="event-photo-card card-img-top" alt="{{ event.title }}">
                
                <div class="card-body">
                  <h5 class="card-title">{{ event.title }}</h5>
                  {% if event.status %}
                    <span class="badge bg-success card-badge">{{ event.status }}</span>
                  {% endif %}
                  <span class="badge bg-info text-dark card-badge">{{ event.cuisine }}</span>
                  <p class="card-text mt-3">
                    <img src="{{ url_for('static', filename='img/calendaricon.png') }}" alt="Calendar Icon" class="card-icon">
                    {{ event.formatted_date }}
                  </p>
                  <p class="card-text">
                    <img src="{{ url_for('static', filename='img/clockicon.png') }}" alt="Clock Icon" class="card-icon">
                    {{ event.formatted_start }} to {{ event.formatted_end }}
                  </p>
                  <p class="card-text">
                    <img src="{{ url_for('static', filename='img/pinicon.png') }}" alt="Location Icon" class="card-icon">
                    {{ event.location }}
                  </p>
                  <p class="card-text">
                    <img src="{{ url_for('static', filename='img/ticketicon.png') }}" alt="Ticket Icon" class="card-icon">
                    ${{ event.price }}
                  </p>
                </div>
              </div>
            </a>
          </div>
        {% endfor %}
      </div>
    </div>

   
  {% endblock %}
